#Flask==2.2.2
#gunicorn
#Werkzeug==2.2.2

Flask~=3.0.2
Flask-Cors
Flask-RESTful
gunicorn
joblib
jsonschema
pandas~=2.2.1
pickleshare
requests
requests-file
scikit-learn~=1.4.1.post1
scipy~=1.13.0
wcwidth
webencodings
Werkzeug
IMDbPY

numpy~=1.26.4