<!doctype html>
<head>
    <title>Entertain.me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        p {
          margin-top: 40px;
          margin-bottom: 60px;
          margin-right: 200px;
          margin-left: 200px;
          font-size: 25px;
        }

</style>

</head>
<html>
   <body>
     <main>

         <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Entertain.me</span>
              </a>
        </header>

         <center>
<h1 style="text-align: center;">About Entertain.me</h1>
<p style="text-align: center;"></p>
<p style="text-align: center;"></p>
<h2 style="text-align: center;">About Us</h2>
<p style="text-align: center;">Welcome to Entertain.me - your ultimate destination for personalised recommendations and entertainment exploration!</p>
<p style="text-align: center;"></p>
<h2 style="text-align: center;">Our Mission</h2>
<p style="text-align: center;">At Entertain.me, our mission is simple yet powerful: to enhance your entertainment experience by providing you with tailored recommendations based on your preferences.</p>
<p style="text-align: center;"></p>
<h3 style="text-align: center;">Work in Progress</h3>
<p style="text-align: center;">Currently, we have online film recommendations, but we are planning on expanding! Soon, you will be able to find book recommendations as well as music. Stay tuned for updates!</p>
<p style="text-align: center;"></p>
<h3 style="text-align: center;">How It Works</h3>
<p style="text-align: center;">We use advanced algorithms and machine learning techniques to analyze your preferences and recommend films that you're likely to love. Whether you're a fan of action-packed blockbusters, heartwarming dramas, or thought-provoking documentaries, our platform has something for everyone.</p>
<p style="text-align: center;"></p>
<h3 style="text-align: center;">Personalized Recommendations</h3>
<p style="text-align: center;">By selecting your favorite genres, preferred IMDb ratings, and the number of recommendations you'd like to receive, Entertain.me curates a list of movies that align with your unique tastes. Our recommendation engine continuously learns from your interactions, ensuring that the suggestions become more accurate over time.</p>
<p style="text-align: center;"></p>
<h3 style="text-align: center;">Explore and Discover</h3>
<p style="text-align: center;">But Entertain.me is more than just a recommendation tool - it's a gateway to exploring the vast world of entertainment. Dive into movie details, read synopses, explore IMDb ratings, discover fascinating trivia about your favorite films, and even find stickers for your conversations. With Entertain.me, the journey of discovery never ends.</p>
<p style="text-align: center;"></p>
<h3 style="text-align: center;">Our Team</h3>
</center>
<p style="text-align: center;">Entertain.me was created by a passionate team of enthusiasts, data scientists, and developers who share a common goal: to revolutionise the way people discover and enjoy their entertainment. With expertise in machine learning, data analytics, and user experience design, our team is dedicated to delivering an unparalleled entertainment experience to our users.</p>

    <p></p>
    <p></p>
     </main>
   <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Entertain.me, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
    </footer>
   </body>
</html>