<!doctype html>
<head>
    <title>Entertain.me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
  <body>
    
<main>
  <div class="container col-xxl-8 px-4 py-5">
<!--    <a href="/">Home </a>-->
<!--      >-->
<!--    <a href="/movielist?page={{ session['page'] }}"> Search results</a>-->
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
         <li class="breadcrumb-item"><a href="/movielist?page={{ session['page'] }}">Search results</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ movie.title }}</li>
      </ol>
    </nav>

    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ movie.image }}" class="d-block mx-lg-auto img-fluid" alt="{{ movie.title }}" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{ movie.title }}</h1>
        <p><b><small class="text-muted">Year: {{ movie.year }}</small></b></p>
        <p><b><small class="text-muted">Rating:{{ movie.rating }}/10</small></b></p>
        <p class="lead">{{ movie.summary }}</p>
<!--        <div class="d-grid gap-2 d-md-flex justify-content-md-start">-->

<!--        </div>-->
      </div>
    </div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="card-group">
        {% for film in suggestions %}
        <div class="card">
          <a href="/movie?id={{ film.imdb_id }}">
            <img src="{{ film.image }}" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ film.title }}</h5>
            <p class="card-text"><small class="text-muted">Year: {{ film.year }}</small></p>
            <p class="card-text"><small class="text-muted">Rating:{{ film.rating }}/10</small></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>


      
  </body>
</html>
